[Unit]
Description=A simple oneshot service

[Service]
Type=oneshot
ExecStart=modprobe xt_ndpi
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target
